.innerBannerMain{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: top center;
    .innerBannerHeading{
        position: relative;
    }
}

.test{
    position: relative;
}