@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Black.eot');
    src: url('/assets/fonts/Poppins-Black.eot?#iefix') format('embedded-opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-ExtraBold.eot');
    src: url('/assets/fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Bold.eot');
    src: url('/assets/fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Regular.eot');
    src: url('/assets/fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Medium.eot');
    src: url('/assets/fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-ExtraLight.eot');
    src: url('/assets/fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-SemiBold.eot');
    src: url('/assets/fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Light.eot');
    src: url('/assets/fonts/Poppins-Light.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Thin.eot');
    src: url('/assets/fonts/Poppins-Thin.eot?#iefix') format('embedded-opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

